<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.byd.emg.mapper.EquipmentMapper" >

    <select id="selectEquipmentRangeDate" resultType="java.lang.String">
        select ${method} from history_tankBatchNo
    </select>

    <select id="getDataByTimes" resultType="com.byd.emg.resultData.EquipmentData">
        select tankNumber as equipmentName,batchNumber as batchNumber,${condition} as costValue,startTime+'至'+endTime as dateTime
        from history_tankBatchNo
        where tankNumber in
        <foreach collection="tankNumbers" index="index" item="item" open="(" separator="," close=")">
            '${item}'
        </foreach>
        and startTime &gt;='${start_time_1}' and startTime &lt;='${end_time_1}'
        and endTime &gt;='${start_time_1}' and endTime &lt;='${end_time_1}'
        order by startTime desc
    </select>

    <select id="getEquipmentStates" resultType="EquipmentStates">
        select totalRunningTime,loadTime,deadTime,openTimes from equipment_states where tagName ='${media}'
    </select>

    <select id="getEquipmentStatesAll" resultType="EquipmentStates">
        select id,totalRunningTime,loadTime,deadTime,openTimes,realTagName,tagNameValue from equipment_states ORDER BY id
    </select>

    <select id="getActiveEnergy" resultType="java.lang.Double">
        select top 2
        (CASE  WHEN  time_value='' or time_value=NULL then '0' else time_value end)time_value
        from ${tableName} where tagname = '${tagName}'
        order by id desc
    </select>

    <update id="batchUpdataEquipmentStates" parameterType="java.util.List">
        <foreach collection="equipmentStatesList" index="index" item="item" separator=";">
            update equipment_states set
            totalRunningTime='${item.totalRunningTime}',
            loadTime='${item.loadTime}',
            deadTime='${item.deadTime}',
            updateTime='${time}'
            where id='${item.id}'
        </foreach>
    </update>

    <update id="batchUpdateOpenTimes" parameterType="java.util.List">
        <foreach collection="equipmentStatesList" index="index" item="item" separator=";">
            update equipment_states set
            openTimes='${item.openTimes}',
            tagNameValue='${item.tagNameValue}'
            where id='${item.id}'
        </foreach>
    </update>

</mapper>