<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.byd.emg.mapper.RealValueTankBatchNoMapper" >
    <sql id="Base_Column_List" >
        id,tankNumber,batchNumber,steamTotalFlow,airTotalFlow,steamShunShiFlow,airShunShiFlow,productType,state,time
    </sql>


    <select id="selectAllRealValue" resultType="RealValueTankBatchNo">
        select
          <include refid="Base_Column_List" />
        from realValue_tankBatchNo
    </select>

</mapper>