<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.byd.emg.mapper.TapWaterMapper" >
    <sql id="Base_Column_List" >
        id,super_id,root_node_id,tag_name,device_name,water_consumption,cost
    </sql>

    <!--根据"位号"或"设备名"查询对应的数据-->
    <select id="selectByTag_name" parameterType="java.lang.String" resultType="TapWater">
        select
          <include refid="Base_Column_List" />
        from tap_water where ${query_criteria}
    </select>

    <!--根据super_id查询对应的数据-->
    <select id="selectByTapWaterBySuper_Id" parameterType="java.lang.Long" resultType="TapWater">
        select
          <include refid="Base_Column_List" />
        from tap_water where super_id=#{super_id}
    </select>

    <!--根据实体类查询对应的数据，判断该实体类是否存在-->
    <select id="selectByTapWater" parameterType="com.byd.emg.pojo.TapWater" resultType="TapWater">
        select
          <include refid="Base_Column_List" />
        from tap_water
        <where>
            <if test="id!='' and id!=null">
              and id=#{id}
            </if>
            <if test="tag_name!='' and tag_name!=null">
              and tag_name='${tag_name}'
            </if>
            <if test="device_name!='' and device_name!=null">
              and device_name='${device_name}'
            </if>
        </where>
    </select>

    <!--新增数据-->
    <insert id="insertTapWater" parameterType="com.byd.emg.pojo.TapWater">
        insert into tap_water (super_id,tag_name,device_name,water_consumption,cost)
        values (${super_id},'${tag_name}','${device_name}','${water_consumption}','${cost}')
    </insert>

    <!--根据id修改对应的数据-->
    <update id="updateTapWaterById" parameterType="com.byd.emg.pojo.TapWater">
        update tap_water
        set super_id = ${super_id},
          tag_name = '${tag_name}',
          device_name ='${device_name}',
          water_consumption='${water_consumption}'
        where id = ${id}
    </update>
</mapper>